@model List<Category>

@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";


}
<h5>@TempData["message"]</h5>

<section class="panel">
    <header class="panel-heading">
        <a asp-area="Admin" asp-controller="Category" asp-action="CreateCategory" class="btn btn-primary">Yeni</a>
    </header>
    <div class="panel-body">
        <div class="adv-table">
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Kategori Adı</th>
            <th scope="col">Sıra No</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Oluşturulma Tarihi</th>
            <th scope="col">Güncellenme Tarihi</th>
            <th scope="col">Silinme Tarihi</th>
                        <th class="hidden-phone">Guncelle</th>
                        <th class="hidden-phone">Sil</th>
                        <th class="hidden-phone">Yok et</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category item in Model)
        {
        <tr>
            <th scope="row">@item.ID</th>
            <td>@item.CategoryName</td>
            <td>@item.SortNumber  </td>
            <td>@item.Description</td>
            <td>@item.CreatedDate </td>
            <td>@item.ModifiedDate </td>
            <td>@item.DeletedDate</td>
            <td>
                    <a asp-action="UpdateCategory" asp-route-id="@item.ID" type="button" class="btn btn-warning">Güncelle</a>
            </td>
                <td class="center hidden-phone">  <a asp-action="DeleteCategory" asp-route-id="@item.ID" class="btn btn-danger"> Sil </a>   </td>
                <td class="center hidden-phone">  <a asp-action="DestroyCategory" asp-route-id="@item.ID" class="btn btn-success"> Yok Et </a>   </td>

        </tr>
        }
    </tbody>
</table>
        </div>
    </div>
    </section>
