@model List<Advert>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <header class="panel-heading">
        <a class="btn btn-primary" asp-action="CreateAdvert">Yeni</a>
    </header>

    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Advert ID</th>
                        <th >Resim</th>
                         <th>Website Link</th> 
                        <th >Durumu</th>
                        <th >Guncelle</th>
                        <th >Sil</th>
                        <th >Yok et</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Advert item in Model)
                    {

                        <tr class="gradeX">

                            <td>@item.ID</td>

                            <td>
                                <img src="@item.ImageURL" height="100" />
                            </td>

                            <td>
                                <a href="@item.WebsiteURL" target="_blank">@item.WebsiteURL</a>
                                </td>

                            <td >@item.Status</td>

                            <td class="center"><a asp-action="UpdateAdvert" asp-route-id="@item.ID" type="button" class="btn btn-warning"> Güncelle </a>   </td>

                            <td class="center">  <a asp-action="DeleteAdvert" asp-route-id="@item.ID" class="btn btn-danger"> Sil </a>   </td>

                            <td class="center">  <a asp-action="DestroyAdvert" asp-route-id="@item.ID" class="btn btn-success"> Yok Et </a>   </td>

                        </tr>
                    }


                </tbody>
            </table>

        </div>
    </div>
