@* oturum açmış kullanıcının bilgilerini kontrol etmek için bu 3 kütüphaneyi ekledim. *@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var userData = HttpContextAccessor.HttpContext.Session.GetString("AppUser");
    var user = userData == null ? null : JsonConvert.DeserializeObject<AppUser>(userData);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsCenter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsCenter.styles.css" asp-append-version="true" />
    <style>
        body
        {
            background-color: #e6e6e6;
        }
    </style>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container">
                <!-- Website İsmi -->
                <a class="navbar-brand back bg-danger text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp; HABER MERKEZİ &nbsp;&nbsp;&nbsp;&nbsp; </a>


                <!-- Navbar Menüleri -->
                <ul class="navbar-nav mx-auto">
                    <!-- 'mx-auto' ortalamak için kullanılır -->

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">ANA SAYFA</a>
                    </li>
                  

                    @await Component.InvokeAsync("CategoryMenu")

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">İLETİŞİM</a>
                    </li>
                </ul>

                <!-- Üye Giriş Butonu -->
                <a class="btn btn-outline-light ml-2 mr-2 " asp-controller="User" asp-action="SignIn">Giriş</a>

                @if (User != null&& user!= null )

                {




                    <span class="text-white"> @user.Profile.FirstName @user.Profile.LastName</span>
                }
            </div>
        </nav>

        <nav hidden class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @* <a type="button" href="/CreateCategory" class="btn btn-dark">Giriş</a> *@
            @* yorum satırı burası *@

            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Paneli</a>
                        </li>
                    </ul>
                </div>


                @* @Html.Partial("_NavbarPartial") *@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="container bg-dark text-white">
        <footer class="mt-5 d-flex justify-content-between">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget velit ac quam consequat ultricies.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <address>
                    <p>Email: info@example.com</p>
                    <p>Phone: +1 (123) 456-7890</p>
                </address>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Facebook</a></li>
                    <li class="list-inline-item"><a href="#">Twitter</a></li>
                    <li class="list-inline-item"><a href="#">Instagram</a></li>
                </ul>
            </div>
        </footer>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p>&copy; 2024 Your Website. All rights reserved.</p>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
