@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = null; // Layout belirtilmemiş oluyor
    var userData = HttpContextAccessor.HttpContext.Session.GetString("AppUser");
    var user = userData == null ? null : JsonConvert.DeserializeObject<AppUser>(userData);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Paneli</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <style>
        .list-group-item.active {
            background-color: #0d6efd !important;
        }
    </style>
</head>
<body>

  

    <nav class="navbar bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-white fw-bold">Admin Paneli</a>


            <form asp-area="" asp-controller="User" asp-action="Logout" method="post">
                @if (User != null && SignInManager.IsSignedIn(User))
                {
               

                    <a type="button" class="btn btn-dark"> 

                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>

                        @user.Profile.FirstName @user.Profile.LastName
                    </a>
                }
                <button type="submit" class="btn btn-dark">
                    <i class="fas fa-sign-out-alt"></i>
                    Çıkış
                </button>
            </form>

            @* <a type="button" href="/User/Signin" class="btn btn-dark">Çıkış</a> *@
        </div>
    </nav>

    <div class="row mt-2">
        <div class="col-2">
            <div class="bg-dark text-white" id="sidebar-wrapper">
                    <div class="list-group list-group-flush">
                        <a href="/Admin/Home" class="list-group-item list-group-item-action bg-dark text-white @(ViewBag.activeMenu == "Home" ? "active" : "")">Anasayfa</a>
                        @Html.ActionLink("Kategori", "Index", "Category", new { area = "Admin" }, new { @class = "list-group-item list-group-item-action bg-dark text-white " + (ViewBag.activeMenu == "Category" ? "active" : "") })
                        <a href="/Admin/News" class="list-group-item list-group-item-action bg-dark text-white @(ViewBag.activeMenu == "News" ? "active" : "")">Haberler</a>
                        <a href="~/Admin/Contact" class="list-group-item list-group-item-action bg-dark text-white @(ViewBag.activeMenu == "Contact" ? "active" : "")">İletişim</a>
                        <a href="~/Admin/Advert" class="list-group-item list-group-item-action bg-dark text-white @(ViewBag.activeMenu == "Advert" ? "active" : "")">Reklam</a>
                        <a href="~/Admin/Comment" class="list-group-item list-group-item-action bg-dark text-white @(ViewBag.activeMenu == "Comment" ? "active" : "")">Yorumlar</a>
                    </div>
            </div>
        </div>

        <div class="col-10 bg-light">
            <div class="p-3">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
